
.open-sans-tamim {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    /* width :100; */
}
/* shared style */
.se-bg{
    background-color:#F6DADB;
}
.text-primary{
    color:#FD6E0A;}
.text-tn{
        text-align: justify;
       font-weight: 600;
       font-size: larger;
    }
.dark-2{
        color:#474747;
    }
    .section-title{
       font-size: 35px;
       font-weight: bold;
       color: #181818;
    }
.section-d{
    font-size: 18px;
    color: #757575;
    }
    .text-cen{
        text-align: center;
    }
    /* header style */
.header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    }
/* nav style */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
 margin: 20px;
}

 nav {
    margin: 50px 200px;
  }
.btn-primary{
    background-color:#FD6E0A;
    font-weight: bold;
    color:white;
    padding: 18px 35px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
}
.nav-title{
    font-weight: 800;
    font-size:50px;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 51px;
}
nav li a{
    text-decoration: none;
    font-size: 20px;
}

/* banner style */
.banner{
    display: flex;
    justify-content: space-between;
margin:20px;
}

 .banner {
    margin: 0 35px 0 200px;
  }

.banner-content{
    max-width: 580px;

}
.banner-f{
font-size: 45px;
font-weight:600;
}
.banner-s{
    font-weight: bold;
    font-size: 85px;
}
.picture{
    width: 580px;
}
/* main */
main{
        max-width: 1140px;
        margin: 0 auto;
}
main section{
     margin-top: 130px;
     margin-bottom: 130px;
}
/* ABOUT */
.about{
    border-radius: 10px;
   padding:0px 30px 30px 30px;
    text-align: center;
    border: 1px solid black;
    
   
   

}
.about-items{
    display: flex;
    justify-content: space-around;
}

/* skils sectionnn */
.skils-container{
    display: flex;
    gap: 24px;
   

}
.skil{
    padding: 30px;
    border-radius: 5px;
    box-shadow:0px 6px 50px 0px rgba(0, 0, 0, 0.06);
     
}
.skill-box{
 border: 1px solid black;
  border-radius: 10px;
   padding:30px 30px 30px 30px;
}

/* resume */
.resume-container{
    display: flex;
    gap: 24px;

}
.experience-des{
    color:rgba(117, 117, 117, 1);
    font-size: 16px;
}
.experience-subt{
    color: rgba(117, 117, 117, 1);
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
}
.experience-title{
    color:rgba(71, 71, 71, 1) ;
    font-size: 25px;
    font-weight: bold;
}
.column-title{
    color:rgba(71, 71, 71, 1) ;
    font-size: 30px;
    font-weight: bold;
}
.resume hr{
    margin: 30px 5px;
}
.resume-download-btn{
    margin-top: 50px;
}
.resume{
    border: 1px solid black;
  padding:0px 50px 50px 50px;
  
    border-radius: 10px;
}

/* footer */
footer{
    padding: 130px 230px;
     
}

.tamimm{
     display: flex;
    gap: 30px;
 
}
   
  


.footer-column{
    width: 50%;
    
}
footer input[type="text"], footer input[type="email"], footer textarea{
    /* height: 64px; */
    max-width: 461px;
    width: 100%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 1);
    display: block;
    font-size: 16px;
    padding: 18px 30px ;
    margin-bottom: 24px;
    border: none;

}
